{% extends 'taskmgr/formlayout.html' %}
{% load crispy_forms_tags %}

{% load widget_tweaks %}

**taskmgr/newcategory.html**

{% block title %}New Category{% endblock %}

{% block form %}
        <form action="{% url 'taskmgr:newcategory' %}", method="POST">
            {% csrf_token %}
            <h3>New Category Definition</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    {% for field in catform.visible_fields %}
                    <label class="label">{{ field.label_tag }}</label>
                    <div>{% render_field field class="form-control" %}</div>   
                    {% endfor %}
                </div>    
            </div>
            <input class="button" type="submit" value="Submit">
        </form>
{% endblock %}